CmdUtils
virtualenv>=1.4.6
http://svn.apache.org/repos/asf/incubator/libcloud/trunk/#egg=libcloud
-e hg+http://bitbucket.org/ianb/silverlining#egg=silverlining
# libcloud doesn't specify this, but causes problems when its not installed:
simplejson
