[production]
app_name = {{app_name}}
version = 1
## Uncomment these to make them available:
#service.postgis =
#service.files =
#service.couchdb =
{{if main}}
runner = main.py
{{elif config}}
runner = config.ini
{{else}}
runner = <insert your runner here>
{{endif}}
## Uncomment to have /url called each time the app is updated:
# update_fetch = /url
## If you always upload this app to a particular hostname, use this:
# default_host = myhost.example.com
