[provider:default]
provider = rackspace
username = {{username}}
secret = {{api_key}}
image_name = base_image_*
size_id = 1
{{if pubkey}}
root_authorized_keys = 
    {{pubkey}}
{{endif}}

[environment]
silverlining_location = {{silverlining_location}}

[devel]
# Here you can put configuration specific to your local development
# environment.  For instance:
#
# postgis.dbname = foo
# postgis.user = postgres
# postgis.password = s3cr3t
# postgis.host = some-other-host
# files = ~/.silverlining-files/APP_NAME
# couchdb.db = foo
# couchdb.host = some-other-host:port
#
# You can also use [devel:APP_NAME] to create app-specific
# configuration.  For all configuration values, APP_NAME will be
# replaced with the name of the application (e.g., 
# couchdb.db = devel_APP_NAME)